@model Interface.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<section class="sign-in">
    <div class="container">
        <div class="signin-content">

            <div class="signin-form">
                <h2 class="form-title">Forgot Password</h2>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = " sky-form boxed", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    if (TempData["Message"] != null)
                    {
                        @Html.Raw(Html.ShowAlertWithimage(TempData["Message"].ToString(), TempData["Type"].ToString()))
                        <div style="height:20px;"></div>
                    }
                    <div class="form-group">
                        <i class="zmdi zmdi-account material-icons-name"></i>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "control-label error" })
                    </div>


                   
                        @Html.Hidden("Captcha", "0")
                    

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Send Email" />
                    </div>
                    <div class="form-group form-button">
                        <a href="/Account/Login">Login</a>
                    </div>
                }
                <!--<div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>

</section>



<script type="text/javascript" src="~/Content/themes/AccountingAdmin/assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
