@model Interface.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "بازگردانی رمز عبور";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container" style="min-height:550px;">
    <div class="row">
        <div class="col-md-5 m-x-auto pull-xs-none vamiddle" style="margin-top: 29.1583px;">
            <div class="card">
                <div class="card-block p-a-2">


                    <div class="card-block">
                        <div class="text-center">
                            <h5>بازگردانی رمز عبور</h5>
                        </div>

                        @using (Html.BeginForm("RecoveryPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = " sky-form boxed", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            if (TempData["Message"] != null)
                            {

                                @Html.Raw(Html.ShowAlertWithimage(TempData["Message"].ToString(), TempData["Type"].ToString()))
                                <div style="height:20px;"></div>
                            }
                            <p class="text-muted">لطفا شماره موبایل  خود را وارد کنید:</p>

                            <div class="form-group">
                                <div class="input-group m-b-0">
                                    <span class="input-group-addon">
                                        <i class="icon-envelope"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control  en-ltr" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "control-label vali-error" })
                            </div>

                            <div class="form-group">
                                <a href="javascript:;" id="refresh" title="تعویض تصویر"><i class="icon-refresh" aria-hidden="true"></i></a>

                                <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage","Captcha")" style="margin-bottom:5px" />

                                @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control ", @placeholder = "حاصل را وارد کنید" })
                            </div>




                            <div class="row m-b-1">
                           
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary p-x-2" >
                                        <i class="icon-envelope"></i>
                                        ارسال با پیامک
                                    </button>
                                </div>

                         

                                <div class="col-xs-6 ">

                                    <a href='@Url.Action("Login", "Account")' class="btn btn-link p-x-0">ورود به سیستم</a>
                                </div>

                                <div class="col-xs-6 ">
                                    <a href='@Url.Action("ForgotPassword", "Account")' class="btn btn-link p-x-0">ارسال رمز ورود با ایمیل</a>
                                </div>

                            
                            </div>



                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="~/Content/themes/AccountingAdmin//assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
