@model Interface.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<section class="sign-in">
    <div class="container">
        <div class="signin-content">

            <div class="signin-form">
                <h2 class="form-title">Reset Password</h2>

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "sky-form boxed", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                    if (TempData["Message"] != null)
                    {

                        @Html.Raw(Html.ShowAlertWithimage(TempData["Message"].ToString(), TempData["Type"].ToString()))
                        <div style="height:20px;"></div>
                    }

                    <div class="form-group">
                        <i class="zmdi zmdi-email"></i>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "You'r Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "control-label error" })
                    </div>

                    <div class="form-group">
                        <i class="zmdi zmdi-key"></i>
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "control-label error" })
                    </div>

                    <div class="form-group">
                        <i class="zmdi zmdi-key"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "control-label error" })
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Submit" />
                    </div>
                    <div class="form-group form-button">
                        <a href="/Account/Login">Login</a>
                    </div>

                }

            </div>
        </div>
    </div>

</section>


<script type="text/javascript" src="~/Content/themes/AccountingAdmin//assets/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
