@{
    Layout = "_LayoutNewAdded";
    ViewData["Title"] = "CRM_Core";
}
@model Interface.Models.Price.PriceViewModel
@section Links{
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

}

    <section class="container">
        <div class="border border-shadow text-center pt-4 mb-2">
        <p id="finalPrice" class="fs-2">$ @Model.FinalPrice</p>
        </div>
        <p class="text-danger">The calculated price only includes the price of the glass and the installation cost</p>
        <form asp-action="Index">
            <div class="row">
                <div class="mb-3 w-50 col-md-6">
                    <label class="form-label">Width</label>
                <input id="width" type="number" class="form-control" aria-describedby="emailHelp" placeholder="centimeter" name="width" value="@ViewBag.width">
                </div>
                <div class="mb-3 w-50 col-md-6">
                    <label class="form-label">Height</label>
                    <input id="height" type="number" class="form-control" aria-describedby="emailHelp"
                       placeholder="centimeter" name="height" value="@ViewBag.height">
                </div>
            </div>
            @if (ViewBag.squareFoot != null){
                <p class="mb-1">minimum size is @ViewBag.squareFoot ft2</p>
                <p>minimum glass thickness @ViewBag.minimumThicknes</p>
            }
            else{
            <p id="squareFoot" class="mb-1">minimum size is 5 ft2</p>
            <p id="glassThickness">minimum glass thickness 1/8</p>
            }
            
            <div class="mb-3">
                <div class="form-label">Select glass type</div>
            <select id="glassType" class="form-select" aria-label="Default select example" name="glassType">
                @if (ViewBag.glassType != null)
                {
                    <option selected>@ViewBag.glassType</option>
                }
                else
                {
                     <option selected>Glass type</option>
                }
                @foreach (var i in Model.ListnewGlassType)
                {
                    <option value="@i.Title">@i.Title</option>
                }
            </select>
            </div>
            <div class="row">
            @if (ViewBag.glssLib != null)
            {
                //bugs here
                <div class="col-4">
                    <p class="text-muted">@ViewBag.glssLib lib</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">$@ViewBag.glassPerUnit/st</p>
                </div>
                <div class="col-4">
                    <p class="text-muted">$@ViewBag.glassPrise</p>
                </div>
            }
            else
            {
                <div class="col-4">
                    <p id="lib" class="text-muted">0 lib</p>
                </div>
                <div class="col-4">
                    <p id="perUnit" class="text-muted">$0.00/st</p>
                </div>
                <div class="col-4">
                    <p id="glassPrise" class="text-muted">$0.00</p>
                </div>
            }
            </div>
            <div class="mb-3">
                <div class="form-label mb-2">Select frame type</div>
            @* @Html.DropDownList("ReportSelect", ViewBag.ListItems,"Frame type",new { @class = "form-select", @onchange = "reportchange(this)" }) *@
            <select id="frameType" class="form-select" aria-label="Default select example" name="frameType">
                @if (ViewBag.frameType != null)
                {
                    <option selected>@ViewBag.frameType</option>
                }
                else
                {
                    <option selected>Frame type</option>
                }
                @foreach (var i in Model.ListnewFrameType)
                {
                    <option value="@i.Title">@i.Title</option>
                }
                    
                </select>
            @if(ViewBag.hours != null)
            {
                <p class="mt-2 text-muted">@ViewBag.hours Hours</p>
            }
            else
            {
                <p id="hours" class="mt-2 text-muted">0 Hours</p>
            }
            </div>
            <div class="mb-5">
                <label class="form-label">Glass elevation</label>
            <input id="elevation" type="number" class="form-control" aria-describedby="emailHelp"
                   placeholder="centimeter" name="elevation" value="@ViewBag.elevation">
            
            @if (ViewBag.installers != null)
            {
                <p class="mt-2 text-muted">installers: @ViewBag.installers</p>
            }
            else
            {
                <p id="installers" class="mt-2 text-muted">installers: 0</p>
            }
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50">Submit</button>
            </div>
        </form>
    </section>


@section Scripts{

    <script> $('#frameType').picker({ search: true });</script>
    <script>
        $(document).ready(function () {
                $('#width').on('input', function () {
                    var width = $(this).val(); 
                    var height = $('#height').val(); 
                    $.ajax({
                        type: 'POST',
                        url: '/newAdded/calculateSquareFoot', 
                        data: { width: width, height: height },
                        success: function (data) {
                            $('#squareFoot').text('minimum size is ' + data[0] + ' ft2');
                            $('#glassThickness').text('minimum glass thickness ' + data[1]);
                    }
                    });
                });
                $('#height').on('input', function () {
                    var height = $(this).val(); 
                    var width = $('#width').val(); 
                    $.ajax({
                        type: 'POST',
                        url: '/newAdded/calculateSquareFoot', 
                        data: { height: height, width: width },
                        success: function (data) {
                            $('#squareFoot').text('minimum size is ' + data[0] + ' ft2');
                            $('#glassThickness').text('minimum glass thickness ' + data[1]);
                    }
                    });
                });

            $('#glassType').change(function () {
                var selectedValue = $(this).val(); 
                $.ajax({
                    type: 'POST',
                    url: '/newAdded/calculateGlassType',
                    data: { glassType: selectedValue, squareFootInput: $('#squareFoot').text() },
                    success: function (data) {
                        $('#lib').text(data[0] + ' lib');
                        $('#perUnit').text('$ ' + data[1] + ' /st'); 
                        $('#glassPrise').text('$ ' + data[2]); 
                    }
                });
            });

            $('#frameType').change(function () {
                var selectedValue = $(this).val(); 
                $.ajax({
                    type: 'POST',
                    url: '/newAdded/calculateFrameType', 
                    data: { frameType: selectedValue },
                    success: function (data) {
                        $('#hours').text(data + ' Hours');
                    }
                });
            });

            $('#elevation').on('input', function () {
                var inputValue = $(this).val(); 
                $.ajax({
                    type: 'POST',
                    url: '/newAdded/calculateInstallers',
                    data: { glassPriseInput: $('#glassPrise').text(), hoursInput: $('#hours').text(), elevation: inputValue, glssLibInput: $('#lib').text(), squareFootInput: $('#squareFoot').text() },
                    success: function (data) {
                        $('#installers').text('installers: ' + data[0]);
                        $('#finalPrice').text('$ ' + data[1]); 
                    }
                });
            });
        });
    </script>
}